html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
:root {
  --background-color: #ffffff;
  --color-primery: #2e2f42;
  --color-secondary: #434455;
  --color-action: #4d5ae5;
  --color-active-action: #404bbf;
  --color-section: #f4f4fd;
  --color-portfolio: #e5e5e5;
  --color-border-button: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;

  outline: 2px solid palevioletred;
  outline-offset: -2px;
}

.header-container {
  display: flex;
}
/* reset start */

h1,
h2,
h1,
p {
  margin: 0;
}
img {
  display: block;
}
/* reset end */

/* header */
.link {
  text-decoration: none;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.start {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}

.action {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  color: var(--color-action);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.span-color {
  color: var(--color-primery);
}
.menu-head {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.menu-head:focus {
  color: var(--color-active-action);
}
.menu-head:hover {
  color: var(--color-active-action);
  text-decoration: underline var(--color-active-action);
}
.contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-secondary);
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.contact:hover {
  color: var(--color-active-action);
}
.contact:focus {
  color: var(--color-active-action);
}

/* body */

.hero-section {
  background-color: var(--color-primery);
  padding: 188px 0;
}
.hero-text {
  max-width: 496px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.button {
  display: block;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  border: none;
  color: var(--background-color);
  background-color: var(--color-action);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover {
  background-color: var(--color-active-action);
}
.button:focus {
  background-color: var(--color-active-action);
}

.button-items {
  border-radius: 4px;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  border: none;
  color: var(--color-action);
  background-color: var(--color-section);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button-items:hover {
  color: var(--background-color);
  background-color: var(--color-active-action);
  border: 1px solid transparent;
}
.button-items:focus {
  color: var(--background-color);
  background-color: var(--color-active-action);
  border: 1px solid transparent;
}
.second-section {
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-category {
  width: calc((100% - 72px) / 4);
}
.title-text-list {
  margin-bottom: 8px;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-text {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-text {
  margin-bottom: 72px;
  color: var(--color-primery);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.img-section {
  padding-bottom: 120px;
}
.img-list {
  display: flex;
  gap: 24px;
}
.img-items {
  width: calc((100% - 48px) / 3);
}
.team-seaction {
  background-color: var(--color-section);
  padding: 120px 0;
}
.team-card-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background-color: var(--background-color);
  width: calc((100% - 72px) / 4);
}
.team-info {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  margin-bottom: 8px;
  color: var(--color-primery);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-profession {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* footer */

.bottom-section {
  background-color: var(--color-primery);
  padding: 100px 0;
}
.span-color-secondary {
  color: var(--color-section);
}
.action-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: var(--color-action);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.notes {
  color: var(--color-section);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* portfolio */

.portfolio-section {
  padding: 96px 0 120px;
}

.button-list {
  border: 1px solid #e7e9fc;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.examples-items {
  width: calc((100% - 48px) / 3);
}
.examples-info-items {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
